
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    align-items: center;
    background-color: #9797977a;
    min-width: 320px;
    max-width: 100%;
}

.flexbox-container {
    width: 100%;
    padding: 1.2px 0px 2px 0px;
    margin: 0;
    height: 25px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.226);
}

.flexbox-item {
    width: 100%;
    margin: 0;
}
.social {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.icon-social {
    background-color: #FFFFFF;
    margin-right:20px;
}

.flex-3 {
    display: flex;
    gap: 15px;
    height: 0px;
}

.social li {
    display:flex;
    margin:0;
    list-style: none;
    align-items: center;
}

header {
    background-color: #ffffff;
    padding: 15px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;     
    border-radius: 0px 0px 22px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    width: 100%;
    min-height: 50px;  
}


.logo-header {
    max-width: 100px; /* Define a largura da imagem */
    height: 27px; /* Mantém a proporção da imagem */
    padding-left: 20px; /* margem do input, no caso a da esquerda*/
  }

  .menu-geral{
    padding: 5px;
  }

 .menu {
    list-style: none;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    position: relative;
    padding-right: 100px;
    padding-top: 10px;
    max-width: 1000px;
    margin: auto;
}

.menu-item a {
    color: rgb(51, 50, 50);
    text-decoration: none;
    font-weight: 600;
    max-width: 600px;
    min-width: 320px;
    margin: auto;
}

.menu-item:hover .dropdown { /*pseudoclasse hover, é quando passa o mouse por cima, 'dropdown é a abertura, a lista pra baixo, ira acontecer algo conforme abaixo, relacionado a caixa que abriu abaixo */
    display: block; /* Mostra o dropdown ao passar o mouse sobre o item, no HTML tem a class DROPDOWN, mas so será mostrado, colocando o block*/
    
}

.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border-radius: 1.5rem; /* arredondamento das bordas */
    padding: 0;
    margin: 0;
    display: none; /* Esconde o dropdown por padrão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* a sombra da box que foi aberta */
}

.dropdown li {
    margin: 0;
}

.dropdown a {
    padding: 0.5rem 1rem;
    color: rgb(51, 50, 50);
    border-radius: 1.5rem;
    display: block;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #979797;
}
section input {
    padding: 8px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    border-color: #979797;
    margin-bottom: 10px; /* Espaçamento abaixo dos inputs */
    color: #979797 ; /* Cor do texto */
    font-size: 12px; /* Tamanho da fonte */
    margin-right: 5px;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 10px 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    margin-right: 32px;
    border-radius: 10px; /* Borda arredondada */
    background-color: #bd2727; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 0.7rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

main{
    min-width: 300px;
    max-width: 100%;
    margin: auto;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #ffffff; /* Cor de fundo do rodapé */
    color: #292a2c; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */ 
    padding: 0px; /* Espaçamento interno */
    flex-direction: column; /* Organize as linhas verticalmente */
    display: flex;
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 8px; /* Tamanho da fonte */
}

.footer-line{
    padding-bottom: 10px;
}

.social-media {
    color: #868585;
    font-weight: bold;
    line-height: 0.8; /* espaçamento entre as linhas*/ 
    text-align: start; /* Alinha o texto */
    flex-direction: column; /* Organize as linhas verticalmente */
    display: flex;
    font-size: 11px; /* Tamanho da fonte */
    font-family: monospace;
    list-style: none;
}

.social-media li {
    line-height: 13px;
}

