@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: Chakra Petch, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    align-items: center;
    background-color: #c9c6c6;
}

header {
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-radius: 1.5rem;
    
    
}

img {
    width: 100px; /* Define a largura da imagem */
    height: 30px; /* Mantém a proporção da imagem */
    padding-left: 24px; /* margem do input, no caso a da esquerda*/
  }

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px; /*largura do item, no caso o cabecalho total */
    
 
}

.menu-item {
    position: relative;
    margin-right: 2rem;
    width: 250px;
    
    
}

.menu-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.menu-item:hover .dropdown {
    display: block; /* Mostra o dropdown ao passar o mouse sobre o item */
}

.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 0;
    margin: 0;
    display: none; /* Esconde o dropdown por padrão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown li {
    margin: 0;
}

.dropdown a {
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    border-radius: 1.5rem;
    display: block;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #979797;
}
section input {
    padding: 8px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    border-color: #979797;
    margin-bottom: 10px; /* Espaçamento abaixo dos inputs */
    color: #979797 ; /* Cor do texto */
    font-size: 12px; /* Tamanho da fonte */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 10px; /* Borda arredondada */
    background-color: #bd2727; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 0.7rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #F5F7F8; /* Cor de fundo do rodapé */
    color: #292a2c; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    flex-direction: column; /* Organize as linhas verticalmente */
    display: flex;
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 8px; /* Tamanho da fonte */
}
.social-media {
    
    letter-spacing: 1px; /*espaçamento entre as letras */
    color: #707070;
    font-weight: bold;
    line-height: 0.8; /* espaçamento entre as linhas*/ 
    text-align: start; /* Alinha o texto */
    flex-direction: column; /* Organize as linhas verticalmente */
    display: flex;
    font-size: 11px; /* Tamanho da fonte */
}

#top {
    border-bottom: 1px solid #ededed;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.box-inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.box-top {
    padding: 0;
    margin: 0;
}
.pull-right {
    float: right !important;
}
.social {
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 0.3rem 0 0;
}
.social li {
    float: left;
    margin-right: 1.9rem;
    list-style: none;
}
.social li:last-child {
    margin: 0;
}