@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #9797977a;
    height: 100vh;
    width: 99.5vw;
}

.flexbox-container {
    padding: 1.2px 0px 2px 0px;
    margin: 0;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #FFFFFF;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.226);
}

.flexbox-item {
    width: 100%;
    margin: 0;
}
.social {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.icon-social {
    background-color: #FFFFFF;
    margin-right:20px;
    padding-top: 13px;
}

.flex-3 {
    display: flex;
    gap: 7px;
    height: 0px;
}

.social li {
    display:flex;
    margin:0;
    list-style: none;
    align-items: center;
}

header {
    background-color: #ffffff;
    padding: 15px 0px 5px 0px;
    display: flex;
    justify-content: space-between;     
    border-radius: 0px 0px 22px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    flex-flow: row wrap;
    color: black;
}

header > h1 {
    border: 1px dotted black;
    flex: 0 0 200px;
}

header > nav{
    border: 1px dotted black;
    display:flex;
    flex-flow: row wrap;
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color .5s;
}

header > nav > a:hover .dropdown{
    display: block;
}

.botao {
    border: 1px dotted black;
    padding: 10px;
    display: flex;
}

main{
    background-color: rgb(231, 229, 229);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.226);
}

.menu-item:hover .dropdown { /*pseudoclasse hover, é quando passa o mouse por cima, 'dropdown é a abertura, a lista pra baixo, ira acontecer algo conforme abaixo, relacionado a caixa que abriu abaixo */
    display: block; /* Mostra o dropdown ao passar o mouse sobre o item, no HTML tem a class DROPDOWN, mas so será mostrado, colocando o block*/
    
}

.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border-radius: 1.5rem; /* arredondamento das bordas */
    padding: 0;
    margin: 0;
    display: none; /* Esconde o dropdown por padrão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* a sombra da box que foi aberta */
}

.dropdown li {
    margin: 0;
}

.dropdown a {
    padding: 0.5rem 1rem;
    color: rgb(51, 50, 50);
    border-radius: 1.5rem;
    display: block;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #979797;
}

/* Estiliza o rodapé da página */
footer {
    background-color: #ffffff; /* Cor de fundo do rodapé */
    color: #292a2c; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */ 
    padding: 0px; /* Espaçamento interno */
    flex-direction: column; /* Organize as linhas verticalmente */
    display: flex;
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 8px; /* Tamanho da fonte */
}

.footer-line{
    padding-bottom: 10px;
}

.social-media {
    color: #868585;
    font-weight: bold;
    line-height: 0.8; /* espaçamento entre as linhas*/ 
    text-align: start; /* Alinha o texto */
    flex-direction: column; /* Organize as linhas verticalmente */
    display: flex;
    font-size: 11px; /* Tamanho da fonte */
    font-family: monospace;
    list-style: none;
}

.social-media li {
    line-height: 13px;
    padding-left: 10px;
}

